table { 
    width: 40%;
    table-layout: fixed;
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
input[type="button"] { 
    font-family: monospace, sans-serif;
    text-align: center;
    width: 100%; 
    padding: 20px 40px; 
    background-color: green; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 

input[type="button"]:hover {
    opacity: 0.75;
}
  
input[type="text"] { 
    width: 100%;
    box-sizing: border-box;
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 